* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
  text-align: left;
}

body {
  /* grey palette */
  /* background-image: linear-gradient(to right bottom, #4a6675, #465c68, #42535b, #3e494f, #3a4043); */
   /* pink palette */
  background-image: linear-gradient(to right bottom, #e1c3f5, #cdb2e4, #b9a2d3, #a692c2, #9382b2); 
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

.pokedex-home-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.pokemon-container {
  width: 65%;
}

.pokemon-team {
  overflow: auto;
  max-height: 80vh;
}

/* .pokemon-container span {
  padding-top: .5rem
} */

.pokemon-team {
  position: fixed;
  right: 2rem;
  width: 20%;
} 

.pokemon-card {
  
  display: inline-block;
  width: 27%;
  /* max-height: 210px; */
  /* height: 2%; */
  text-align: center;
  border: 3px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 0 1rem 1rem;
}

.pokemon-card:hover {
  border: 3px solid #FF5159;
}

.pokemon-card img {
  /* padding-left: 3rem; */
  margin: 0 auto;
}

/* .poke-name {
  text-transform: capitalize;
} */

.pokemon-card-info {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  /* flex-grow: wrap; */
  /* max-height: 300px; */
  /* align-items: baseline; */
  /* justify-content: start; */
}

.line-break {
  width: 100%;
}

.pokemon-card ul {
  /* position: absolute; */
  /* padding-top: 1.5rem; */
}
/* 
.poke-dex-num {
  border: 2px solid black;

} */

.poke-dex-num {
  padding: 2px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.pokemon-card ul li {
  padding: 2px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.pokemon-card ul li,
.poke-dex-num {
  background-color: white;
  
  /* padding: 1px 3px; */
  margin-bottom: 5px;
}

/* .pokemon-card ul li:nth-child(1) {
  margin-bottom: 5px;
} */

.pokemon-card input {
  padding: 2.5px 25px;
  background-color: #7695A4;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pokemon-card input:hover {
  cursor: pointer;
  background-color: #ABCBDB;
}

.show-pokemon-container {
  display: flex;
}
